html{
    font-family:'Teko', sans-serif;
}
a{
    text-decoration: none;
}

textarea::-webkit-scrollbar {
    width: .5em;
  }
   
textarea::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
textarea::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
/* for MyScroller */
.myscroller::-webkit-scrollbar {
    width : .5em ; 
    height: 1em;
  }
   
.myscroller::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
.myscroller::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
/* end for my scroller part  */
  
.myshadow
{
    box-shadow: 0 1px 5px rgb(138, 137, 137);
}
.rounded
{
    border-radius: 10px;
}
.myheader{
    background-color: #f5ba13;
    margin: auto -16px;
    padding: 10px 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    color: white ;
    margin-bottom: 10px ;
    text-align: center;
}
.StoryWriteProps
{
    height: 1042px ; 
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgba(0, 0, 0, 0.1);
    padding: 10px;
   
}

.CenterText{
    text-align: center;
}

.genre{
    padding-right: 10px;
}
.box{
        padding: 5px;
        margin: 2px;
        float: left;
    
}
.Details{
    text-align: left;
}
.famous{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('loginbg.jpg');    
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}
.StoryContent{
    letter-spacing: normal;
    font-size: large ;
    text-align: left;
    
}

.login-bg{
position: fixed;
    width: 100%;
    height: 100%;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('loginbg.jpg');    
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    overflow-y: auto;
}

.login-bar{
    background-color: white; 
width: 50%;
    height: auto;
    position: absolute;
    top: 20%;
    bottom: auto;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0px 5px 5px 5px #0f0f0f;
   
}

.loginlogo{
    margin-top: 8%;
    width: 100%;
    margin-bottom: -20%;
}

.signuplogo{
    margin-top: 8%;
    width: 100%;
    margin-bottom: -20%;
}

.sl-top{
    height: 20vh;
    
    
}

.sl{
    margin-top: 20px;
    width: 100%;
}

.sl-bottom{
   
}

.submit{
    padding-bottom: 10%;
}


.mybtn{
    transition: 0.5s ease;
}

.mybtn:active, .mybtn:focus,.mybtn:visited{
border: none;
outline: 0;
text-decoration: none;
outline-width: 0;

}


.social-login{
    
  align-items: center;

}
.hr{
    margin-top: 25px;
    margin-bottom: 8px;
}


.f{
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: -20px;
}
.myshadow{
    box-shadow: 0px 2px 4px 0px #0f0f0f;
}
